@import "./_snowpack/pkg/tailwindcss/dist/base.css";
@import "./_snowpack/pkg/tailwindcss/dist/components.css";
@import "./_snowpack/pkg/tailwindcss/dist/utilities.css";


.tit{
    font-size: 2rem;
    color: rgb(0, 206, 24);
    text-align: center;
}
.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.pri{
    color: darkblue;
    text-align: center;
}.img1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .img1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  }